<head>
    <!-- Bootstrap include -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- fontawsome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">

    <!-- jquery 버전 유의 -->
    <!-- slim/jquery, 3.1.0 윗 버전에서 ajax가 작동하지 않는 오류 확인 -->
    <!-- Bootstrap의 CDN을 copy&paste 하되 Line 8의 버전만 3.1.0으로 수정하세요 -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>

<body>
    <div class="container">
        <i class="fas fa-id-card-alt" style="font-size: 150px;color:gainsboro"></i>
        <h1> EDUBLOCK <br>프로토타입 </h1>
        <hr>
        <!-- 유저추가 -->
        <div class="row justify-content-md-center">
            <div class="col-lg">
                <div id="new-alert"></div>
                <h3>새 유저를 추가합니다</h3>
                <input type="text" id="new-id" name="id" placeholder="새로 추가할 유저의 id을 입력하세요"> <br>
                <input type="text" id="new-name" name="name" placeholder="새로 추가할 유저의 name을 입력하세요"> <br>
                <button class="btn btn-warning" id="new-btn">추가하기</button>
            </div>   
        </div>
        <div class="col-lg">
            <button class="btn btn-warning" id="return-btn"><a href="/">처음으로돌아가기</a></button>
        </div>
    </div>
</body>

<script>    
    $("#new-btn").click(()=>{
        // new-email이라는 id값을 가지고 있는 input의 value를 가지고 옴
        const id = $("#new-id").val();
        const name = $("#new-name").val();
        const url = "/user"

        // email이라는 파라메터에 위의 value를 넣음
        $.post(url, {uid: id, uname: name}, (data,status)=>{
            // http 상태 코드가 200(success)이라면
            if(status == "success"){
                // 성공했다는 alert창을 띄움
                console.log($('#new-alert').length );
                if($('#success1').length > 0){
                    $('#new-alert').empty();
                    $('#new-alert').fadeOut(2000);
                }
                $('#new-alert').fadeIn(2000);
                $('#new-alert').append("<div id='success1' class='alert alert-success'>추가를 성공했습니다!</div>");
                //$('#new-alert').fadeOut(4000);
            }
        })
    })
    
</script>

<!-- styling -->
<style>
    .container{
        width: 100%;
        height: 500px;
        margin: 50px 50px;
        padding: 20px 20px;
        text-align: center;
        position: absolute;
        left: 50%;
        transform:translateX(-50%);        
    }

    button{
        margin: 20px 10px;
    }

    input{
        width: 300px;
        padding: 10px 8px;
    }

    .col-6{
        padding: 20px 10px;
    }
</style>
